<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Subdomian:</strong>
    <%= account.subdomian %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= account.domain %>
  </p>

</div>
